@import "_general.scss";


@media (max-width: 576px) { 
    hr{
        display: none;
    }
    nav{
        .nav-link{
            text-align: center;
        }
        .soc a{
            display: none;
        }
    }
    #header{
        width: 100%;
        
        .row{
            margin: 0;
            padding: 0;
            .card{
                margin: 0;
                //order: 10;
                margin-bottom: 20px;
            }
            img{
                margin: 0;
                padding: 0;
                min-height: 400px !important;
                padding-bottom: 20px !important;
            }
        }
    }
    #story{
        margin-top: 90vh;
        height: 400px;
        .card{
            margin-top: 20px !important;
        }
    }
    #story-1{
        margin-top: 65vh;
        height: 400px;
        .img{
            margin-top: 20px;
        }
    }
    #features{
        .card{
            border: none;
            margin: 0 50px;
        }
        .one{
            border-bottom: 3px solid $grey;
        }
        .two{
            border-bottom: 3px solid $grey;
        }
        .three{
            border-bottom: 3px solid $grey;
        }
        .four{
            border-bottom: 3px solid $grey;
        }
        .five{
            border-bottom: 3px solid $grey;
        }
    }
    #carousel{
        margin-top: 80vh;
        .img{
            width: 100vw;
            height: 30vh;
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
    nav{
        .nav-link{
            text-align: center;
        }
        .soc a{
            display: none;
        }
    }
    #header{    
        .row{
            display: flex;
            flex-direction: row;
        }
        .card{
            margin: 20px 0 !important;
            padding: 0;
        }
    }
    #story{
        max-height: 400px;
        .card{
            border: none;
            padding-top: 10px !important;
        }
    }
    #story-1{
        max-height: 400px;
        .card{
            border: none;
            padding-top: 15px !important;
        }
    }
    #features{
        .card{
            border: none !important;
            margin: 0 50px;
        }
        .one{
            border-bottom: 3px solid $grey !important;
        }
        .two{
            border-bottom: 3px solid $grey !important;
        }
        .three{
            border-bottom: 3px solid $grey !important;
        }
        .four{
            border-bottom: 3px solid $grey !important;
        }
        .five{
            border-bottom: 3px solid $grey !important;
        }
    }
    hr{
        display: none;
    }
    #carousel{
        .img{
            width: 100vw;
            height: 30vh;
        }
    }
}  

@media (max-width: 991px) { 
    
    #features{
        .card{
            border: none;
            margin: 0 50px;
        }
        .one{
            border-bottom: 3px solid $grey;
        }
        .two{
            border-bottom: 3px solid $grey;
        }
        .three{
            border-bottom: 3px solid $grey;
        }
        .four{
            border-bottom: 3px solid $grey;
        }
        .five{
            border-bottom: 3px solid $grey;
        }
    }
}

@media (max-width: 1260px) { 
    #features{
        .card{
            border: none;
        }
        .one{
            border-bottom: 3px solid $grey;
            border-right: 3px solid $grey;
        }
        .two{
            border-bottom: 3px solid $grey;
        }
        .three{
            border-bottom: 3px solid $grey;
            border-right: 3px solid $grey;
        }
        .four{
            border-bottom: 3px solid $grey;
        }
        .five{
            border-right: 3px solid $grey;
        }
    }
}

